body {
    background-color: #0E0F0F;
    font-family: "Alatsi", sans-serif;

}

.navbar {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 300px;
    padding-left: 0 100px;
    padding-right: 0 100px;
}

.alatsi-regular {
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.navbar a {
    color: #F2F3F4;
    text-decoration: none;
    font-size: 30px;
}

.navbar a:hover {
    color: #9E7BB5;
    text-decoration: blanchedalmond;
    font-weight: bold;
}

.hi {
    text-align: left;
    color: #f2f3f4;
    font-size: 60px;
    padding-top: 120px;
    padding-left: 60px;
}

.name {
    text-align: left;
    color: #630436;
    font-size: 60px;
    padding-top: 10px;
}

.img {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}